/*STYLES*/

body {
    background-color: #F2F2F2;
}

h4 {
    margin-top:10%;
    margin-bottom:5%;
}

.btn-primary {
    margin-top:5%;
    margin-bottom:5%
}

.btn-success {
    margin-top:5%;
    margin-bottom:5%
}

.btn-danger {
    margin-top:5%;
    margin-bottom:5%
}

.bg-dark {
    border-radius:5px;
}



